ServerCPP/*.o
ServerCPP/myProject.*
ServerCPP/depend-*
ServerCPP/files/*
ServerCPP/myprog
ServerCPP/myserv
ServerCPP/inf224.creator.*
ServerCPP/client
ServerCPP/server
otherFiles/*
ClientJava/*.class
